.text-justify {
  text-align: justify;
}

.color-green {
  color: $green;
}

.color-light-black {
  color: $light-black;
}

// HIDDEN

.s-hidden {
  display: none;
  @include response-min($l) {
    display: initial;
  }
}
