.nav {
  width: 100%;
  background-color: $black;
  z-index: 1;
  padding: 2rem 10rem;

  & .nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .nav__logo {
    max-width: 100px;
  }

  & .nav__link {
    font-size: 1.8rem;
    color: #fff;
  }
}
